@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  display: flex;
  height: 100vh;
  background-color: black;
  background-image: url('../public/images/background.svg');
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-img {
  background-image: url('../public/images/background.svg');
  background-repeat: none;
  background-size: cover;
}