@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(12, 12, 12);
}

.me {
  background-image: url('../public/images/me.png');
  background-size: cover;
}

.hero-img {
  opacity: 0.6;
  background-image: url('../public/images/hero_background.png');
  background-size: cover;
}