a.navbar-brand {
    padding-left: 2rem;
    font-size: 30px;
}

.navbar {
    margin: 30px;
    padding: 5px;
}

.first-name{
    color:aquamarine;
}

.nav-link{
    color: whitesmoke !important;
    font-size: 20px;
  }

.nav-link.active {
    color: aquamarine !important;
}

.homepage {
    font-size: 20px;
}