#brand {
    color: rgb(29, 47, 81);
    font-family: monospace;
    font-style: oblique;
}

body {
    background-color:rgb(26, 21, 33);
}
.body-container.container {
    width: 40%;
    height: 90vh;
    text-align: center;
}